@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leaflet-container img {
  max-width: none;
}

.range-thumb::-webkit-slider-thumb {
  pointer-events: auto;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 9999px;
  background: black;
  cursor: pointer;
}

.range-thumb::-moz-range-thumb {
  pointer-events: auto;
  width: 14px;
  height: 14px;
  border: none;
  border-radius: 9999px;
  background: black;
  cursor: pointer;
}

.black-slider {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
}



.black-slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 9999px;
  background: black;
  cursor: pointer;
}



.black-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border: none;
  border-radius: 9999px;
  background: black;
  cursor: pointer;
}

/* Styling of map markers */
.custom-marker {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 9999px;
  border: 2px solid white;
  color: white;
  font-weight: 700;
  font-size: 15px;

  box-shadow: 0 1px 4px rgba(0,0,0,0.35);
}

.parking-marker {
  background: #2563eb;
}

.sector-marker {
  background: #16a34a;
}

.crag-marker {
  background: #dc2626;
}

.sector-label {
  background: transparent;
  border: none;
  box-shadow: none;
  font-weight: 600;
  font-size: 12px;
  color: #166534;
}

/* Styling for sector labels (map markers) */
.sector-label::before {
  display: none;
}