@import "leaflet/dist/leaflet.css";
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 0;
}

.leaflet-container img {
  max-width: none;
}

.range-thumb::-webkit-slider-thumb {
  pointer-events: auto;
  appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 9999px;
  background: black;
  cursor: pointer;
}

.range-thumb::-moz-range-thumb {
  pointer-events: auto;
  width: 14px;
  height: 14px;
  border: none;
  border-radius: 9999px;
  background: black;
  cursor: pointer;
}

.black-slider {
  appearance: none;
  -webkit-appearance: none;
  background: transparent;
}



.black-slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 14px;
  height: 14px;
  border-radius: 9999px;
  background: black;
  cursor: pointer;
}



.black-slider::-moz-range-thumb {
  width: 14px;
  height: 14px;
  border: none;
  border-radius: 9999px;
  background: black;
  cursor: pointer;
}

